{% extends 'base.html.twig' %}

{% block body %}
    <h1>Добавить автора</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Добавить" class="" />
    {{ form_end(form) }}
{% endblock %}

